@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  border: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  height: 200px;
}

nav {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo img {
  width: 110px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  font-size: 15px;
}

.nav-menu-content a {
  color: #000;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav-menu-content li {
  color: #000;
}

.nav-menu-content a::before {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #0b5ee8;
  transition: all 0.3s ease-in-out;
}

.nav-menu-content a:hover {
  background-position: 0%;
}

.nav-menu-content a:hover:before {
  width: 100%;
}

.nav-menu-content ul li:last-child {
  font-size: 15px;
  cursor: pointer;
}

.nav-menu-content ul li:last-child:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu {
  transition: 2s;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.submenu li {
  border-bottom: 1px solid grey;
  margin: 10px 0;
}

.submenu li a {
  width: 100%;
}
.fa-chevron-down {
  font-size: 10px;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.icons a {
  padding-left: 15px;
}

.icons img {
  width: 20px;
}

.language {
  text-align: end;
  padding: 20px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  margin-top: 150px;
}

.text--area {
  width: 50%;
}

.text--area h1 {
  margin-bottom: 15px;
  font-weight: 600;
}

.text--area p {
  margin-bottom: 30px;
}

.contact-us .more {
  width: 238px;
  height: 50px;
  background: #0b5ee8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600px;
}

.header-content .icons {
  width: 18px;
}

.header-content .icons a {
  margin: 5px 0;
}

.header-content button {
  background: none;
  border: none;
}

.facilities .products {
  padding: 50px 0;
}

.facilities .row .card {
  border: none;
}
.facilities .row .col-md-2 .card {
  width: 200px;
}
.facilities .row .col-md-2 .card img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.facilities .row .col-md-2 .card a {
  text-decoration-style: none;
  color: black;
  -moz-text-decoration-style: none;
}

.back {
  background-color: #e5e5e5;
  padding: 50px;
}

.text {
  font-size: 35px;
  font-style: bold;
  text-align: left;
  vertical-align: top;
  letter-spacing: 15%;
  line-height: 53px;
  margin-bottom: 70px;
  margin-top: 30px;
}

/* ORDER SECTİON */
.order_section_container {
  height: auto;
  margin-bottom: 150px;
}

.section_title h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.product_container1 {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 60px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.16);
}

.product_container2 {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 200px;
  margin-top: 60px;

  background: #ffffff;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.16);
}

.product_container3 {
  height: 200px;
  padding: 0 10px;
}

.product_container3 .price2_button {
  justify-content: end;
}

.img {
  width: 141px;
  display: flex;
  align-items: center;
  height: 200px;
}

.title h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1a1a1a;
}

.price-and-info {
  display: flex;
  align-items: self-end;
  justify-content: space-between;
  width: 63%;
  position: relative;
  bottom: 40px;
}

.count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 125px;
  height: 37px;
}

#price {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-right: 20px;
  margin-bottom: 0;
}

.price_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 20px;
}

.price2_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
  padding-right: 20px;
}

.price_button button,
.price2_button button {
  width: 256px;
  height: 50px;
  background: #0b5ee8;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  transition: all 0.5s ease;
}

.inputt {
  width: 26px;
  height: 26px;
  background: #b7cdff;
  border-radius: 50%;
  text-align: center;
  font-family: "Poppins";
  margin-right: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #0b5ee8;
}

#minus {
  background: none;
}

#plus {
  background: none;
  margin-left: -10px;
}

.title2 h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1a1a1a;
}

#price2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-right: 20px;
  margin-bottom: 0;
}

.umumi {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.umumi p {
  margin-bottom: 0;
  margin-top: 82px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
}

#tesdiq {
  width: 256px;
  background: #0b5ee8;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

/* ORDER SECTİON */

footer {
  height: 220px;
  background-color: #0b5ee8;
  text-align: center;
  padding-top: 80px;
  font-size: 18px;
  color: #fff;
}

.imghover {
  transition: all 0.4s;
}

.imghover:hover {
  transform: scale(1.3);
}
.recorder {
  float: right;
  right: 10px;
  top: 10px;
  position: absolute;
  cursor: pointer;
}

footer img {
  width: 25px;
}

/*number block*/
.iti {
  width: 100%;
}

.product-grid {
  grid-template-columns: repeat(6, 1fr);
}

.hamburger-menu {
  align-items: flex-end;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  z-index: 11;
  height: 27px;
  width: 44px;
}

.hamburger-line:first-child,
.hamburger-line:nth-child(2),
.hamburger-line:last-child {
  background-color: white;
  height: 10%;
  transition: 0.4s;
  width: 100%;
}
.hamburger-line:first-child {
  width: 100%;
}

.hamburger-line:nth-child(2) {
  width: 75%;
}

.hamburger-line:last-child {
  width: 50%;
}

.hamburger-rotate .hamburger-line:first-child {
  transform: rotate(-45deg) translate(-13px, 5px);
  background-color: black;
}

.hamburger-rotate .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-rotate .hamburger-line:last-child {
  transform: rotate(45deg) translate(-7px, 0px);
  background-color: black;
  width: 100%;
}

nav.active {
  animation: scrollAnimation 0.5s linear;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

footer .row .col-4 {
  text-align: left;
}

footer .row .col-4:last-child {
  text-align: right;
}
